services:
  - type: web
    name: video-chat-app
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
    autoDeploy: true
    region: oregon
    scaling:
      minInstances: 1
      maxInstances: 1
